<div class="header">
  <div class="logo">
    <img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646339469/angular_wzrs5o.png">
  </div>
</div>
<div class="resource-list">
  <h2>
      Here are some resources to help you on your Angular + Netlify journey:
  </h2>
  <p>
  Even if Android is one of the most popular OS, people are still unaware of terms like Mod APK and GCam etc.
<br />
Whole on the other hands, Mod APK site is the biggest contender who brings a lot of those content for people.
<br />
Now coming to mods on Android, not everyone know what is a Mod APK and that is why exactly I am here to educate you on this.
<br />
A Mod APK is a modified app or game on Android that is done by some developer who knows how to do that.
<br />
He did that to achieve some features for free on a paid app or some resources on a game.
<br />
Usually these modified apks bring paid apps for free, unlimited in-game money and resources etc.
<br />
Finding a working and a genuine mod apk of an app or game is not an easy task because there are a lot of fake sites making rounds on the internet.
<br />
If you are new here and want to try this out, then Download Mod APK of any app or a game and see it by yourself. See the below list of links to understand what it is!
  </p>
    
  <ul>
    <li>
      <a href="https://modapk.tv/google-camera/">GCam mod</a>
    </li>
    <li>
      <a href="https://modapk.tv/">Mod APKs</a>
    <li>
      <a href="https://modapk.tv/download-youtube-pink-apk/">YouTube Pink APK</a>
    </li>
    <li>
      <a href="https://modapk.tv/videobuddy-apk-download/">Videobuddy APK</a>
    </li>
  </ul>
  
  <ul>
    <li>
      <a href="https://github.com/netlify-templates/angular-quickstart">The Angular Quickstart repo</a>
    </li>
    <li>
      <a href="https://www.netlify.com/tags/angular/">Netlify Blog: Angular posts</a>
    <li>
      <a href="https://docs.netlify.com/">Netlify Docs</a>
    </li>
    <li>
      <a href="https://angular.io/">Angular Docs</a>
    </li>
  </ul>
</div>
<footer class="footer">
  Made with <a href="https://netlify.com"><img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646714899/netliheart_ezlkim.svg" alt="Netlify Logo" /></a> for you!
</footer>
